:root {
  --colorBlack: #20272b;
  --colorWhite: #fff;
  --colorGrey: #F7F8F9;
  --colorLightOrange: #f9f7f7;
  --colorOrange: #ec7523;
  --colorRed: #ff5757;
  --colorGreen: #87A80D;
  --colorYellow: yellow;
  --colorPara: #1B2B40BF;
  --colorBlue:#004474;
}

body .colorBlack {
  color: var(--colorBlack);
}
.colorWhite {
  color: #fff;
}
.bgBlack {
  background: var(--colorBlack);
}
.bgBlue {
  background: var(--colorBlue) !important;
}
.bgGreen {
  background: var(--colorGreen) !important;
}
body .bgWhite {
  background: #fff;
}
.colorOrange {
  color: var(--colorOrange);
}
.colorPara {
  color: var(--colorPara);
}
.colorBlue {
  color: var(--colorBlue);
}
.colorGreen {
  color: var(--colorGreen);
}
.colorRed {
  color: var(--colorRed);
}
.bgLightOrange {
  background: var(--colorLightOrange);
}
.bgOrange{
  background: var(--colorOrange);
}
.colorGrey {
  color: var(--colorGrey);
}
body .btnBlack {
  background: var(--colorBlack);
  color: #fff;
}
.bgLightOrange {
  background: var(--colorLightOrange);
}
