.coreValue {
    border-radius: 8px;
    padding: 29px 15px;
    border: 3px solid #87A80D;
    transition: all 0.5s;
    cursor: pointer;
    min-height: 186px;
  }

  .coreValue:hover {
    border: 3px solid var(--colorBlue);
    margin-top: -15px;
    box-shadow: 0px 4px 9px 1px #00000075;
  }