.featuredImg {
  height: 227px;
}
.featuredImg a,
.featuredImg img {
  display: block;
  height: 100%;
  object-fit: cover;
}

  .blogWrapper {
    border-width: 2px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    min-height: 320px;
    border-style: solid;
  }
  .featuredImg img {
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
  }
  .blogWrapper:hover {
    border-color: var(--colorGreen) !important;
  }
  .active > .page-link, .page-link.active {
    background: var(--colorGreen) !important;
    border-color: var(--colorGreen) !important;
  }
  .pagination {
    margin-bottom: 35px;
  }
  .insight {
    border: 1px solid #ddd;
  }
  .catUl {
    list-style-type: disclosure-closed;
    list-style-position: inside;
  }
  .catUl > li a:hover{
    color: var(--colorGreen);
  }
  .overlaypText {
    position: absolute;
    background: rgba(255,255,255,0.8);
    right: 4%;
    width: 50%;
  }
  .contentUnder a {
    color: var(--colorBlue);
  }
  .btnGreenLight{
    background: #BCE8A9;
    color: #174600;
    padding: 10px 18px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
  }
  .btnGreenLight:hover{
    background: var(--colorBlue);
    color: #fff;
  }
  .buttonAct {
    bottom: 22px;
  }

  .selBox::after {
    content: "";
    position: absolute;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #1c1c1c;
    top: 15px;
  }


  .skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
  @keyframes shine {
    to {
      background-position: right -40px top 0;
   }
  }

  /* .blogWrapper::before{
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #174D72, transparent);
  }
  .blogWrapper{
      display: flex;
      align-items: center;
      margin: auto;
      position: relative;
      box-sizing: border-box;
      background: #fff;
        background-clip: border-box;
      background-clip: padding-box;
      border: solid 3px transparent;
      -webkit-border-radius: 1em;
      border-radius: 1em;
  } */